body { margin: 0; padding: 0; zoom: 1; }
h1, h2, p { margin: 0; padding: 0; }

.strike { text-decoration: line-through; }

.avatar img { width: 30px; height: 30px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.caption { margin: 0 0 60px 20px; }
.caption a { font: 14px/16px 'Unica One', Helvetica, Arial, sans-serif; letter-spacing: .1em; color: #999; text-transform: uppercase; text-decoration: none; }
.caption a:hover { background-color: #ddd; }

.container { width: 960px; margin: 0 auto; }
.containerbottom { background-color: #ddd; width: 960px; margin: 0 auto; }

.opentype {
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.section-oak { padding: 30px 20px 25px 20px; }
.section-oak .container { text-align: center; }
.section-oak .containerbottom {  margin-top: 30px; padding: 20px 30px 40px; }
.section-oak .caption { margin-bottom: 0; text-align: right; }
.section-oak h2 { font: 24px/24px 'Unica One', sans-serif; text-transform: uppercase; text-align: center; color: #000; margin: 20px 20px 30px; }
.section-oak p { font: 16px/24px 'Vollkorn', serif; color: #333; width: 460px; text-align: justify; margin: 0 auto;}
.section-oak .profile { margin-top: 60px; }

/* Sub-tablet <1000px */
@media (max-width: 1000px) {

    .section-oak .caption { margin-bottom: 0; text-align: right; }
    .section-oak .container { width: 100%; }
    .section-oak .containerbottom { text-align: center; }
    .section-oak .containerbottom { width: auto; padding: 0 20px; }
    .section-oak .containerbottom { margin-top: 30px; padding: 20px 30px 40px; }
    .section-oak p { max-width: 460px; width: auto; padding: 0 20px; }

}

/* Sub-tablet <768px */
@media (max-width: 768px) {
    .caption a { font: 20px/16px 'Unica One', Helvetica, Arial, sans-serif; letter-spacing: .1em; color: #999; text-transform: uppercase; text-decoration: none; }
    .section-oak .caption { line-height: 25px; }
    .section-oak .caption { margin-bottom: 0; text-align: center; }
    .section-oak .container { width: 100%; }
    .section-oak h2 { font: 22px/24px 'Unica One', sans-serif; text-transform: uppercase; text-align: center; color: #000; margin: 20px 0px 30px; }
    .section-oak .containerbottom { text-align: center; }
    .section-oak .containerbottom { width: auto; padding: 0 20px; }
    .section-oak .containerbottom { margin-top: 30px; padding: 20px 30px 40px; }
    .section-oak p { max-width: 460px; width: auto; padding: 0 20px; }

}
