@font-face {
	font-family: 'Baskerville';
	src: url('OpenBaskerville.otf') format('opentype'),
	     url('fonts/OpenBaskerville.woff') format('woff'),
	     url('OpenBaskerville.ttf')  format('truetype');
	font-weight:lighter !important;
}

* {
	margin: 0px;
	padding:0px;
}

body {
	border-top:3px solid #ff5f5f;
	background-color:rgb(249,249,249);
}

a {
	text-decoration:none;
	color:#000;
}

@media screen and (max-width: 600px) {
	#head {
		background-image:url("img/600.jpg");
		height:270px;
		width:100%;
		font-size:1.4em;
		display:block;
		background-position:bottom;
	}

	#headtitle {
		font-size:1.5em;
	}

	#headtext {
		position:relative;
	    top: 10px;
		font-size:1.4em;
	}
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
	#head {
		background-image:url("img/768.jpg");
		height:360px;
		width:100%;
		font-size:1.4em;
		display:block;
		background-position:bottom;
	}
    
	#headtitle {
		font-size:1.5em;
	}

	#headtext {
		position:relative;
	    top: 40px;
		font-size:1.4em;
	}
}

@media only screen and (min-width: 769px) and (max-width: 800px) {
	#head {
		background-image:url("img/800.jpg");
		height:370px;
		width:100%;
		font-size:1.4em;
		display:block;
		background-position:bottom;
	}

	#headtitle {
		font-size:1.5em;
	}

	#headtext {
		position:relative;
	    top: 60px;
		font-size:1.4em;
	}
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
	#head {
		background-image:url("img/900.jpg");
		height:420px;
		width:100%;
		font-size:1.4em;
		display:block;
		background-position:bottom;
	}

	#headtitle {
		font-size:1.5em;
	}

	#headtext {
		position:relative;
	    top: 80px;
		font-size:1.4em;
	}
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {
	#head {
		background-image:url("img/1024.jpg");
		height:480px;
		width:100%;
		font-size:1.4em;
		display:block;
		background-position:bottom;
	}
    
	#headtitle {
		font-size:1.5em;
	}

	#headtext {
		position:relative;
	    top: 90px;
		font-size:1.9em;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1050px) {
	#head {
		background-image:url("img/1050.jpg");
		height:490px;
		width:100%;
		font-size:1.4em;
		display:block;
		background-position:bottom;
	}

	#headtitle {
		font-size:1.5em;
	}

	#headtext {
		position:relative;
	    top: 90px;
		font-size:1.9em;
	}
}

@media only screen and (min-width: 1051px) {
	#head {
		background-image:url("img/1280.jpg");
		height:550px;
		width:100%;
		font-size:1.4em;
		display:block;
		background-position:bottom;
	}

	#headtitle {
		font-size:1.5em;
	}

	#headtext {
		position:relative;
	    top: 140px;
		font-size:2em;
	}
}

#head {
    background-repeat:no-repeat;
}

#headtitle {
	float:left;
	padding:3%;
	font-family: 'Baskerville', serif;
	display:inline-block;
	width:100px;
}

#headlinks {
	text-align:center;
	font-size:1.5em;
	position:relative;
	top:-57px;
	width:100%;
	clear:both;
}

#intro {
	margin: 5% 0 0 0;
	padding: 0 5% 10% 5%;
}

#introleft {
	float:left;
	width:45%;
}

#introright {
	float:right;
	width:45%;
	padding-top:3.5%;
}

#solution {
	background-color:#ff5f5f;
	color:#FFF;
	padding: 0 7% 7% 7%;
}

.features {
	background-color:rgb(249,249,249);
    padding:30px 5% 0 5%;
}

#you {
	background-color:#ff5f5f;
	color:#FFF;
}

.white {
	color:#FFF;
}

.center {
	text-align:center;
}

.serif {

}

.sans {
	margin-top:10px;
	font-family: 'Muli', sans-serif !important;
	font-size:0.9em;
}

.large {
	font-size:1.9em;
}

.headlinks {
	font-family: 'Muli', sans-serif !important;
	padding-left:1%;
	font-size:0.5em !important;
	text-align:center !important;
}

.header {
	font-size:150%;
}