@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-regular-webfont.eot');
  src: url('/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/proximanova-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/proximanova-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/proximanova-regular-webfont.svg#svgFontName') format('svg');
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

* {
  margin: 0;
  padding: 0;
  border: 0 none; }

ul {
  list-style: none; }

button, textarea, input {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

h1, h2, h3, h4 {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em; }

h1 {
  margin-bottom: 50px;
}

h2, h3, h4 {
  margin-bottom: 25px;
  color: #06061d;
  font-size: 1.5625rem; }

body {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 160%;
  vertical-align: baseline;
  color: #fff;
  background: white; /*Portfolio background color*/
  -webkit-font-smoothing: antialiased; }


/* particleground */
.intro {
/*  background-color: #d52852;
  position: absolute;
  top: 50%;
  width: 100%;*/
    position: absolute;
    top: 50%;
    width: 100%;
    /*background-color: #d52852;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#particles {
  background-color: #d12b52;
  /*background-color: #5fd177;*/
  width: 100%;
  height: 93%;
  overflow: hidden;
}

a {
  cursor: pointer;
  color: #000;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  transition: all 0.15s ease-out; }
  a:hover {
    border-color: #000; }

#boldlinks a {
  font-size: 90%;
  font-weight: 700;
  color: #fff;
}

#fordalinks h1 {
  color:#fff !important;
}

#fordalinks a {
  text-decoration: none;
  line-height: normal;
  color: #fff;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
/*  padding: 2px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;*/
}

#fordalinks a {
    /*background: #ebebeb*/;
}
#fordalinks a:hover {
  border-color: #000;
  /*background: #c1eee6;
  color: #444f4f;*/
}
/*a:hover {
  background: #c1eee6;
  color: #444f4f;
}
*/





.arrowb {
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  width: 0;
  height: 0;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-top: 27px solid #d12b52;
  margin: 0 auto;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: arrowin;
  animation-name: arrowin;
}
.arrowb.out {
  -webkit-transform: translate(0, -27px);
  transform: translate(0, -27px);
}





.center {
  text-align: center; }



.container {
  width: 50%;
  margin: 50px 0 35px 15%; }
  .container p, .container ul {
    font-size: 0.9375rem;
    font-weight: 300; }

#first {
  margin: 100px 0 35px 15%;
}
#normal {
  margin: 35px 0 35px 15%;
}

.content p, .content ul {
  margin-top: 12.5px; }
.content ul li:before {
  content: "-";
  display: inline-block;
  margin-right: 10px; }
.content h2 span {
  display: inline-block;
  margin-left: 5px;
  padding: 0px 5px 1px 4px;
  font-size: 0.9375rem;
  line-height: 140%;
  letter-spacing: -0.05em;
  vertical-align: top;
  /*border: 2px solid #06061d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;*/
  transition: opacity 0.25s ease-out;
  cursor: help;
  opacity: 0.25; }

header[role="banner"] {
  position: relative;
  overflow: hidden;
  background: mintcream;
  -webkit-animation: bgcolorfade 120s infinite forwards linear;
  -moz-animation: bgcolorfade 120s infinite forwards linear;
  animation: bgcolorfade 120s infinite forwards linear; }
  header[role="banner"] .container {
    position: relative;
    z-index: 10;
    margin-top: 200px;
    margin-bottom: 200px; }
  header[role="banner"] figure {
    margin-bottom: 50px; }
    header[role="banner"] figure img {
      display: block;
      width: 70px;
      height: 64px; }
  header[role="banner"] h1 {
    color: #06061d;
    font-size: 6.34rem;
    /*font-size: 3.5625rem;*//
    line-height: 100%; }
    header[role="banner"] h1 span {
      display: block;
      opacity: 0.5; }
  header[role="banner"] p {
    font-size: 1.0625rem;
    opacity: 0.75;}
  header[role="banner"] #thebanner {
    position: absolute;
    top: -100px;
    right: 0;
    bottom: 0;
    left: -100px;
    z-index: 1;
    opacity: 0.3; }

footer[role="contentinfo"] p {
  font-size: 0.75rem; }

footer[role="contentinfo"],
.content ul li span,
small {
  opacity: 0.5;
  transition: opacity 0.25s ease-out; }
  footer[role="contentinfo"]:hover,
  .content ul li span:hover,
  small:hover {
    opacity: 0.75; }

header[role="banner"] figure,
header[role="banner"] h1,
header[role="banner"] p,
section[role="main"] {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-animation: fadein 0.6s 0.5s 1 forwards ease-in-out;
  -moz-animation: fadein 0.6s 0.5s 1 forwards ease-in-out;
  animation: fadein 0.6s 0.5s 1 forwards ease-in-out; }

header[role="banner"] figure {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s; }

header[role="banner"] h1 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

header[role="banner"] p {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

section[role="main"] {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s; }

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@-moz-keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes bgcolorfadse {
  0% {
    background-color: mintcream; }

  13% {
    background-color: gainsboro; }

  25% {
    background-color: honeydew; }

  38% {
    background-color: aliceblue; }

  50% {
    background-color: ghostwhite; }

  63% {
    background-color: lightcyan; }

  75% {
    background-color: ivory; }

  88% {
    background-color: azure; }

  100% {
    background-color: mintcream; } }

@-moz-keyframes bgcolorfadse {
  0% {
    background-color: mintcream; }

  13% {
    background-color: gainsboro; }

  25% {
    background-color: honeydew; }

  38% {
    background-color: aliceblue; }

  50% {
    background-color: ghostwhite; }

  63% {
    background-color: lightcyan; }

  75% {
    background-color: ivory; }

  88% {
    background-color: azure; }

  100% {
    background-color: mintcream; } }

@keyframes bgcolorfadse {
  0% {
    background-color: mintcream; }

  13% {
    background-color: gainsboro; }

  25% {
    background-color: honeydew; }

  38% {
    background-color: aliceblue; }

  50% {
    background-color: ghostwhite; }

  63% {
    background-color: lightcyan; }

  75% {
    background-color: ivory; }

  88% {
    background-color: azure; }

  100% {
    background-color: mintcream; } }

@media screen and (max-width: 1000px) {
  .container {
    width: 70%; } }
@media screen and (max-width: 600px) {
  .container {
    width: auto;
    margin: 50px auto;
    padding: 0 25px; }

  header[role="banner"] .container {
    margin: 100px auto; } }


/* New styles, front and center */
  * {
      margin: 0;
      padding: 0;
      -webkit-font-smoothing: antialiased;
      -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
         box-sizing: border-box;
  }

  .portfolio-grid {
    max-width: 1000px;
    margin: 0 auto;
  }

  .portfolio-grid:before, .portfolio-grid:after {
      content: "";
      display: table;
      clear: both;
  }

  .portfolio-item {
    /* Always left aligned, so the grid messes up less.
     * float: left;
     * display: inline-block; /* Let's have the render on the same level!
     * Don't need these two right now, but will if we make smaller grid units
     */
    display: block;
        position: relative;
  }

  .portfolio-item {
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .portfolio-item > .item-image {
    background-color: rgba(0,0,0,0);
  }

  .portfolio-item > .item-image:hover {
    opacity: 1;
  }

  .portfolio-item > .fold-content {
    font-family: "PT sans", "Georgia", "serif";
    color: #333;
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    opacity: 1;
    display: none;
  }

  .fold-content > .spec-container {
    width: inherit;
  }

  .intro > p{
    font-size: 12px;
    color: #333;
    font-family: "PT sans";
    width: 300px;
    margin: 0 auto 10px;
  }
  .specs {
    width: 24%;
    border-left: 1px solid #999; /*1px solid #999; or 2px solid rgba(243, 156, 18, 0.5) ?*/
    display: inline-block;
    color: #666;
    padding-left: 10px;
    font-size: 11px;
    vertical-align: top;
  }

  .specs > .keyword {
    text-transform: uppercase;
    color: #666;
    font-size: 9px;
    display: block;
    padding-bottom: 5px;
    font-weight: bold;
  }

  .fold-content > .slider {
    margin-top: 5px;
    width: 100%;
  }

  .tapestry { position: relative; overflow: auto; }
  .tapestry li { list-style: none; }
  .tapestry ul li { float: left; }

  .slider ul > li {
    padding-top: 20px;
    width: 100%;
    height: auto;
    background-color: #eee;
  }

  .slider ul > li:before {
    padding-top: 56.25%;
    content: "";
    display: block;
  }

  .slider ul > li > * {
    position: absolute;
    top: 0;
    left: 0;
  }

  .fold-content > .description {
    padding-top: 20px;
  }


  .h-150 {
    /*opacity: 0; /* important for the fade-in */
    height: 150px;
    /*background-color: #f39c12;  Debugging! */
    border-bottom: 1px solid #fffffa; /* Debugging */
  }


  .reading, .listening, .playing{
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-top:15px;
    padding-bottom: 15px;
  }

  hr{
    height: 6px;
    background-color: #282828;
    border: none;
    margin-bottom:20px;
  }

  .first, .second{
    display: inline-block;
    padding: 10px;
    line-height: 30px;

  }

  .copyright{
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: -15px;
    font-size: 12px;
    font-family: "PT sans", "Georgia", "serif";
  }

  /* Slider Style + Misc */

  .slider {
    position: relative;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 40px 0 60px;
  }

  .slider ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style-type: none;
  }

  .slider ul li {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    float: left;
    display: block;
    margin: 0;
    padding: 0;
  }

  .slider ul li > a,
  .slider ul li > div {
    display: block;
    text-align: center;
    outline: none;
  }

  .slider ul li > img {
    border: none;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
  }

  .slider nav span {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    padding-top: 7px;
    padding-left: 4px;
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.2);
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: -35px;
    line-height: 50px;
    cursor: pointer;
    font-weight: normal;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
  }
  .slider nav span svg {
    width: 30px;
    height: 30px;
  }

  .slider nav span svg path {
    fill: rgba(0,0,0,0.4);
  }

  .slider nav span:hover {
    background: rgba(255,255,255,0.4);
  }

  .slider nav span.cbp-fwnext {
    right: 10px;
  }

  .slider nav span.cbp-fwprev {
    left: 10px;
    -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
  }

  .cbp-fwdots {
    position: absolute;
    bottom: 0px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
  }

  .cbp-fwdots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ddd;
    margin: 4px;
    border-radius: 50%;
    cursor: pointer;
  }

  .cbp-fwdots span:hover {
    background: #999;
  }

  .cbp-fwdots span.cbp-fwcurrent {
    background: #999;
    box-shadow: 0px 0px 0px 1px #999;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .data-img-hackil-15 {
    background-image: url('/static/img/lolz.jpg');
  }

  .data-img-hackil-14 {
    background-image: url('static/tapestrys/hackillinois2014_tapestry.jpg');
  }

  .data-img-vmware {
    background-image: url('static/tapestrys/vmware_tapestry2.png');
  }

  .data-img-spark{
    background-image: url('static/tapestrys/spark_tapestry.png');
  }

  .data-img-uber {
    background-image: url('static/tapestrys/uber_tapestry.png');
  }

  .data-img-zombie {
    background-image: url('static/tapestrys/zombie_tapestry.jpg');
  }

  .data-img-notes {
    background-image: url('static/tapestrys/notes_tapestry.jpg');
  }

  .data-img-naturalselection {
    background-image: url('static/tapestrys/naturalselection_tapestry.png');
  }

  .data-img-games {
    background-image: url('static/tapestrys/games_tapestry.jpg');
  }

  .data-img-plastic {
    background-image: url('static/tapestrys/plastic_tapestry.jpg');
  }

  .data-img-meadowbrook {
    background-image: url('static/tapestrys/meadowbrook_tapestry.jpg');
  }

  .fold-content > .spec-container {
    width: inherit;
  }

  .specs > .keyword {
    text-transform: uppercase;
    color: #666;
    font-size: 10px;
    display: block;
    padding-bottom: 5px;
    font-weight: bold;
  }

  .keyword-with-hackillinois > a {
    width: 40%;
  }

  .specs > a {
    display: inline-block;
    text-decoration: none;
    color: #666;
  }

  .specs > a:hover {
    color: #f39c12;
  }

  .b_w {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(#greyscale);
    filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    transform: translateZ(0px);
    transition: .8s;
    -webkit-transition: .8s;
        -moz-transition: .8s;
  }

  .b_w:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: none;
  }

  .b_w-inactive {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: none;
  }

  .tapestry-img {
    min-width: 100%;
    max-height: 150px;
    /*opacity: 0;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;*/
  }

  /* Media Queries */

  @media only screen
  and (max-width: 600px) {

    .h-150 {
      height: 100px;
      overflow: hidden;
    }

    .h-150 img.tapestry-img {
      height: 100%;
      width: auto;
    }

    .specs {
      width: 32%;
      font-size: 14px;
      display: none;
    }
  }

  @media only screen
  and (max-width: 1000px) {

    .portfolio-grid {
      width: 100%;
    }

    footer {
      width: 100%;
    }

    footer > .current > .reading,
    footer > .current > .playing,
    footer > .current > .listening,
    footer > .current > .reading > a,
    footer > .current > .playing > a,
    footer > .current > .listening > a {
      display: block;
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 5px;
    }

    footer > .foot_links > .first,
    footer > .foot_links > .second {
      display: block;
    }
    footer > .foot_links > .second {
      padding-top: 0;
    }
  }

    img.color_overlay {
        position: absolute;
        -webkit-transform: translateZ(0px);
        -moz-transform: translateZ(0px);
        transform: translateZ(0px);
        top: 0;
        left: 0;
        z-index: 5;
        filter: none;
    }

