::selection {
  background: #FFFF00;
  color: rgba(0,0,0,.9);
  text-shadow: none;
}
::-moz-selection {
  background: #FFFF00;
  color: rgba(0,0,0,.9);
  text-shadow: none;
}

.column {
    float: left
}

.group {
    float: left;
    *zoom: 1
}

.group:after {
    content: "";
    display: table;
    clear: both
}

.guide {
    position: absolute;
    z-index: 999999;
    height: 1000px;
    width: 100%
}

@media only screen and (min-width:960px) {
    .guide {
        background: -webkit-linear-gradient(left, #f00 1%, rgba(255, 0, 0, 0.2) 1%, rgba(255, 0, 0, 0.2) 11.799999999999999%, transparent 11.799999999999999%, transparent 89.2%, rgba(255, 0, 0, 0.2) 89.2%);
        background-size: 8.333333333333334%
    }
}

@media only screen and (min-width:768px) and (max-width:959px) {
    .guide {
        background: -webkit-linear-gradient(left, #f00 1%, rgba(255, 0, 0, 0.2) 1%, rgba(255, 0, 0, 0.2) 6.3999999999999995%, transparent 6.3999999999999995%, transparent 94.6%, rgba(255, 0, 0, 0.2) 94.6%);
        background-size: 16.666666666666668%
    }
}

@media only screen and (max-width:767px) {
    .guide {
        background: -webkit-linear-gradient(left, #f00 1%, rgba(255, 0, 0, 0.2) 1%, rgba(255, 0, 0, 0.2) 2.8%, transparent 2.8%, transparent 98.2%, rgba(255, 0, 0, 0.2) 98.2%);
        background-size: 50%
    }
}

.icon {
    font-size: 23px
}

.icon:before {
    display: block;
    content: attr(data-icon);
    font-family: "Helvetica"
}

.icon span {
    display: none
}

.gpu {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}

.vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center
}

.clearfix {
    *zoom: 1
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('resources/fonts/proximanova-bold-webfont.eot');
    src: url('resources/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('resources/fonts/proximanova-bold-webfont.woff') format('woff'), url('resources/fonts/proximanova-bold-webfont.ttf') format('truetype'), url('resources/fonts/proximanova-bold-webfont.svg#proxreg') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'teehanlaxregular';
    src: url('/resources/fonts/teehanlax-webfont-v2.eot');
    src: url('/resources/fonts/teehanlax-webfont-v2.eot?#iefix') format('embedded-opentype'), url('/resources/fonts/teehanlax-webfont-v2.woff') format('woff'), url('/resources/fonts/teehanlax-webfont-v2.ttf') format('truetype'), url('/resources/fonts/teehanlax-webfont-v2.svg#teehanlaxregular') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'nanumpenscript';
    src: url('/resources/fonts/nanumpenscriptregular.eot');
    src: url('/resources/fonts/nanumpenscriptregular.eot?#iefix') format('embedded-opentype'), url('/resources/fonts/nanumpenscriptregular.woff') format('woff'), url('/resources/fonts/nanumpenscriptregular.ttf') format('truetype'), url('/resources/fonts/nanumpenscriptregular.svg#nanumpenscriptregular') format('svg');
    font-weight: normal;
    font-style: normal
}

html.wf-loading .wf, html.wf-loading h5, html.wf-loading h6, html.wf-loading p,
html.wf-loading li, html.wf-loading blockquote, html.wf-loading .button {
    visibility: hidden
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

p {
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    color: #aaa;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 35px
}

p.intro {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 50px
}

p a {
    color: #aaa;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}

p a:hover {
    color: #787878
}

h1 {
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: -0.05em
}

h2 {
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
    margin: 10px 0 40px
}

h3 {
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    margin: 50px 0 30px
}

h1 a, h2 a, h3 a {
    color: #fff
}

h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: none
}

blockquote {
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    font-size: 22px;
    font-style: italic;
    line-height: 36px;
    border-left: 4px solid #4cbd99;
    padding-left: 30px
}

blockquote a {
    color: #aaa;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}

blockquote a:hover {
    color: #787878
}

blockquote .quoteauthor {
    font-size: 14px;
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif
}

ul li {
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    color: #aaa;
    font-size: 22px;
    line-height: 36px;
    list-style-type: disc;
    list-style-position: inside
}

a.button {
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    line-height: 17px;
    padding: 15px 20px 15px 15px;
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    background: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s
}

a.button:hover {
    background: #eee
}

a.button .icon {
    display: inline-block;
    color: #4cbd99;
    vertical-align: middle;
    margin-right: 10px
}

@media all and (max-width:500px) and (min-width:0) {
    h1 {
        font-size: 44px
    }

    h2 {
        font-size: 23px;
        line-height: 29px
    }

    p {
        font-size: 18px;
        line-height: 28px
    }

    p.intro {
        font-size: 24px;
        line-height: 34px
    }

    a.button {
        margin: 5px 10px
    }
}

html {
    height: 100%
}

body {
    background: #1b1b1b;
    /*background: #06091a;*/
    color: #aaa;
    min-height: 100%;
    padding-bottom: 100px
}

.copy-width {
    float: left;
    width: 81.53333333333335%;
    margin: 0 .8999999999999999%;
    margin-left: 9.233333333333334%;
    clear: left;
    float: none
}

.site-width {
    *zoom: 1;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    clear: left
}

.site-width:before, .site-width:after {
    display: table;
    content: "";
    line-height: 0
}

.site-width:after {
    clear: both
}

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    background: #1b1b1b;
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    color: #5e5e5e;
    border-bottom: 1px solid #272727;
    height: 45px;
    line-height: 45px;
    *zoom: 1
}

#top-bar:before, #top-bar:after {
    display: table;
    content: "";
    line-height: 0
}

#top-bar:after {
    clear: both
}

#top-bar a {
    color: #5e5e5e;
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}

#top-bar a:hover {
    color: #787878
}

#top-bar .copy-width {
    position: relative
}

#top-bar .icon {
    font-weight: 400;
    font-size: 20px
}

#top-bar .tl-nav, #top-bar .labs-nav {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    font-size: 12px;
    font-weight: 700;
    -webkit-transition: opacity .5s .5s, top 0 .5s;
    -moz-transition: opacity .5s .5s, top 0 .5s;
    -o-transition: opacity .5s .5s, top 0 .5s;
    transition: opacity .5s .5s, top 0 .5s
}

#top-bar .tl-nav .icon, #top-bar .labs-nav .icon {
    float: left;
    margin-right: 15px
}

#top-bar .tl-nav a, #top-bar .labs-nav a {
    margin-right: 10px
}

#top-bar .labs-nav {
    font-size: 15px;
    opacity: 0;
    top: -1000px;
    -webkit-transition: opacity .5s 0, top 0 .5s;
    -moz-transition: opacity .5s 0, top 0 .5s;
    -o-transition: opacity .5s 0, top 0 .5s;
    transition: opacity .5s 0, top 0 .5s
}

#top-bar .labs-nav .icon {
    color: #4cbd99
}

#top-bar.minified .labs-nav {
    top: 0;
    opacity: 1;
    -webkit-transition: opacity .5s .6s, top 0 .6s;
    -moz-transition: opacity .5s .6s, top 0 .6s;
    -o-transition: opacity .5s .6s, top 0 .6s;
    transition: opacity .5s .6s, top 0 .6s
}

#top-bar.minified .tl-nav {
    top: -1000px;
    opacity: 0;
    -webkit-transition: opacity .5s 0, top 0 .5s;
    -moz-transition: opacity .5s 0, top 0 .5s;
    -o-transition: opacity .5s 0, top 0 .5s;
    transition: opacity .5s 0, top 0 .5s
}

#top-bar .social {
    position: absolute;
    right: 0;
    top: 0;
    width: 145px;
    text-align: right
}

#top-bar .social .icon {
    display: inline-block;
    margin-left: 15px
}

.hero-header {
    padding: 145px 0 30px
}

.hero-header .logo {
    *zoom: 1;
    width: 305px;
    margin: 0 auto 100px
}

.hero-header .logo:before, .hero-header .logo:after {
    display: table;
    content: "";
    line-height: 0
}

.hero-header .logo:after {
    clear: both
}

.hero-header .logo .icon {
    float: left;
    font-size: 115px;
    color: #4cbd99;
    margin: -27px 20px 0 0
}

.hero-header .logo .name-tag {
    text-align: center;
    font-family: "Proxima Nova", Proxima Nova, sans-serif;
}
/*.hero-header .logo .name-tag {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif
}*/

.hero-header .logo .name-tag .name {
    font-size: 70px;
    line-height: 66px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.05em
}
.hero-header .logo .name-tag .period {
    font-size: 70px;
    line-height: 66px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.05em
}
.hero-header .logo .name-tag .tagline {
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #5e5e5e
}

.hero-header .links {
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    text-align: center;
    color: #5e5e5e
}

.hero-header .links a {
    font-size: 18px;
    font-weight: 700;
    color: #5e5e5e;
    margin: 0 20px;
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}

.hero-header .links a:hover {
    color: #787878
}

.hero-header .links a.active {
    color: #fff;
    /*border-bottom: 2px solid #4cbd99;*/
    border-bottom: 2px solid #fff;
    padding-bottom: 3px
}

.hero-header .links span {
    display: inline-block;
    vertical-align: text-top;
    padding-top: 2px;
    font-size: 10px
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

a.cta-link {
    text-decoration: none
}

.cta {
    background: #fff url('../../resources/img/icons/rightchevron.png') no-repeat right center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 25px 30px 14px;
    height: 62px
}

.cta:hover {
    background: #fff url('../../resources/img/icons/rightchevron-green.png') no-repeat right center
}

.cta .icon {
    float: left;
    margin-right: 25px;
    font-size: 50px;
    color: #4cbd99
}

.cta .title {
    display: block;
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 5px
}

.cta p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0
}

@media all and (max-width:1000px) and (min-width:500px) {
    .copy-width {
        width: 100%;
        margin-left: 0
    }

    .site-width {
        width: 80%
    }
}

@media all and (max-width:500px) and (min-width:0) {
    .copy-width {
        width: 100%;
        margin-left: 0
    }

    .site-width {
        width: 85%
    }

    #top-bar .tl-nav .text, #top-bar .labs-nav .text {
        display: none
    }

    .hero-header .logo {
        width: 270px;
        margin: 0 auto 80px
    }

    .hero-header .logo .icon {
        font-size: 85px;
        margin: -17px 10px 0 0
    }

    .cta {
        background: #fff url('../../resources/img/icons/rightchevron-mobile.png') no-repeat right center;
        height: 45px;
        padding: 15px 20px
    }

    .cta:hover {
        background: #fff url('../../resources/img/icons/rightchevron-mobile-green.png') no-repeat right center
    }

    .cta .icon {
        max-width: 45px;
        margin-right: 15px
    }

    .cta .title {
        font-size: 18px;
        margin-top: 10px
    }

    .cta p {
        display: none
    }
}

.four-oh-four {
    height: 100%;
    padding-bottom: 0
}

.four-oh-four .tl-nav {
    top: -1000px;
    opacity: 0
}

.four-oh-four .labs-nav {
    top: -1000px;
    opacity: 0
}

.four-oh-four .hero-header {
    display: none
}

.four-oh-four .derp {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    font-size: 90px;
    font-weight: 700;
    color: #5e5e5e;
    text-align: center;
    text-transform: uppercase
}

.four-oh-four .details {
    display: block;
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: none
}

.homepage .intro {
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    line-height: 42px;
    background: #4cbd99;
    color: #fff;
    padding: 90px 0 40px;
    margin-bottom: 10px;
    text-align: center
}

.homepage .intro span {
    display: block;
    margin-bottom: 30px;
    padding-top: 20px
}

.homepage #items-wrap {
    *zoom: 1;
    margin: 0 auto;
    z-index: 1
}

.homepage #items-wrap:before, .homepage #items-wrap:after {
    display: table;
    content: "";
    line-height: 0
}

.homepage #items-wrap:after {
    clear: both
}

.homepage .item {
    position: relative;
    width: 375px;
    margin: 10px 10px 6px 10px;
    height: auto;
    float: left;
    overflow: hidden
}

.homepage .item img {
    width: 100%
}

.homepage .item:hover .caption {
    bottom: 0
}

.homepage .item .time {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #fff
}

.homepage .item .caption {
    background: #000;
    position: absolute;
    width: 100%;
    bottom: -62px;
    left: 0;
    padding: 20px;
    text-align: left;
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    font-size: 15px;
    color: #fff;
    box-sizing: border-box;
    -webkit-transition: bottom .5s;
    -moz-transition: bottom .5s;
    -o-transition: bottom .5s;
    transition: bottom .5s
}

.homepage .item .caption a {
    color: #fff;
    text-decoration: underline
}

.homepage .item .caption a:hover {
    text-decoration: none
}

.homepage .item .caption .note {
    margin-top: 2px;
    display: inline-block;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.homepage .item .caption .icon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #5e5e5e;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}

.homepage .item .caption:hover .icon {
    color: #aaa
}

@media all and (max-width:500px) and (min-width:0) {
    .homepage #items-wrap {
        width: 100% !important
    }

    .homepage .item {
        width: 100%;
        margin: 20px 0
    }

    .homepage .item .caption {
        bottom: 0
    }
}

.about .haxor {
    display: block;
    width: 100%;
    margin: 0 auto
}

.about #about-gallery {
    background: transparent
}

.about #about-gallery .contents {
    background: transparent
}

.about #about-gallery .contents img {
    width: 100%
}

.about .the-team {
    background: #000;
    padding: 80px 0;
    margin-bottom: 50px
}

.about .team-member {
    *zoom: 1;
    margin-bottom: 50px
}

.about .team-member:before, .about .team-member:after {
    display: table;
    content: "";
    line-height: 0
}

.about .team-member:after {
    clear: both
}

.about .team-member .avatar {
    float: left;
    width: 30%;
    -webkit-border-radius: 227px;
    -moz-border-radius: 227px;
    border-radius: 227px
}

.about .team-member .bio {
    float: left;
    width: 65%;
    margin-left: 5%
}

.about .team-member .name {
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    display: block;
    font-size: 22px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700
}

.about .links {
    margin-bottom: 85px
}

.about .article-list {
    border-top: 2px solid #494949;
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif
}

.about .article-list .item {
    padding: 36px 0;
    border-bottom: 1px solid #494949;
    line-height: 30px
}

.about .article-list .item a {
    font-size: 22px;
    font-weight: 700;
    color: #4cbd99;
    text-decoration: none
}

.about .article-list .item a:hover {
    text-decoration: underline
}

.about .article-list .item .info {
    display: block;
    font-size: 22px
}

.about .article-list .item .author {
    font-style: italic
}

@media all and (max-width:500px) and (min-width:0) {
    .about .the-team {
        padding: 40px 0
    }

    .about .team-member .avatar {
        float: none;
        margin-bottom: 20px
    }

    .about .team-member .bio {
        width: 100%;
        margin-left: 0
    }

    .about .hero-header .links {
        margin-bottom: 45px
    }

    .about .article-list .item {
        padding: 30px 0;
        border-bottom: 1px solid #494949;
        line-height: 28px
    }

    .about .article-list .item a {
        font-size: 18px
    }

    .about .article-list .item .info {
        font-size: 18px
    }
}

.project-details .cover {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    width: 100%;
    height: 655px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 50px
}

.project-details .coverage-grid {
    *zoom: 1
}

.project-details .coverage-grid:before, .project-details .coverage-grid:after {
    display: table;
    content: "";
    line-height: 0
}

.project-details .coverage-grid:after {
    clear: both
}

.project-details .coverage-grid a {
    display: inline-block;
    float: left;
    opacity: .3;
    width: 50%;
    padding: 3px 3px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity .5s .1s;
    -moz-transition: opacity .5s .1s;
    -o-transition: opacity .5s .1s;
    transition: opacity .5s .1s
}

.project-details .coverage-grid a:hover {
    opacity: 1
}

.project-details .coverage-grid .article {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    text-align: center;
    width: 100%;
    height: 284px;
    background: #fff
}

.project-details .pic-grid {
    *zoom: 1
}

.project-details .pic-grid:before, .project-details .pic-grid:after {
    display: table;
    content: "";
    line-height: 0
}

.project-details .pic-grid:after {
    clear: both
}

.project-details .pic-grid a {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 3px 3px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.project-details .pic-grid img {
    float: left;
    width: 100%
}

.project-details .bodyimg {
    max-width: 100%;
    margin-bottom: 0
}

.project-details .centerimg {
    max-width: 100%;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.project-details img {
    max-width: 100%
}

.project-details .sharing-tools {
    *zoom: 1;
    margin: 50px 0
}

.project-details .sharing-tools:before, .project-details .sharing-tools:after {
    display: table;
    content: "";
    line-height: 0
}

.project-details .sharing-tools:after {
    clear: both
}

.project-details .sharing-tools .network {
    float: left;
    margin-right: 10px
}

@media all and (max-width:500px) and (min-width:0) {
    .project-details .cover {
        height: 315px
    }

    .project-details .coverage-grid a {
        width: 100%;
        opacity: 1
    }

    .project-details .coverage-grid .article {
        width: 100%;
        height: 190px
    }

    .project-details .pic-grid a {
        width: 100%
    }
}

.projects-list a {
    text-decoration: none
}

.projects-list a:hover .contents {
    background: rgba(0, 0, 0, 0.3)
}

.projects-list .project {
    width: 100%;
    height: 390px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.projects-list .project .contents {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s
}

.projects-list .project h1 {
    margin-bottom: 10px
}

.projects-list .project p {
    margin-bottom: 0
}

@media all and (max-width:500px) and (min-width:0) {
    .projects-list .project {
        height: 340px
    }

    .projects-list .project h1 {
        font-size: 36px
    }
}

.gallery {
    position: relative;
    width: 100%;
    clear: left;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    background: #000;
    margin: 45px 0 100px;
    box-sizing: border-box
}

.gallery.desktop {
    padding: 0;
    background: 0
}

.gallery.desktop .interaction {
    left: 10.1%;
    top: 5.2%;
    width: 80.2%;
    height: 69.3%
}

.gallery.desktop .contents {
    position: absolute;
    left: 10.1%;
    top: 5.2%;
    width: 80.2%;
    height: 69.3%
}

.gallery.desktop .caption {
    display: none
}

.gallery.laptop {
    padding: 0;
    background: 0
}

.gallery.laptop .interaction {
    left: 10.1%;
    top: 5.8%;
    width: 80.2%;
    height: 76.6%
}

.gallery.laptop .contents {
    position: absolute;
    left: 10.1%;
    top: 5.8%;
    width: 80.2%;
    height: 76.6%
}

.gallery.laptop .caption {
    display: none
}

.gallery.ipad {
    padding: 0;
    background: 0;
    width: 538px;
    max-width: 80%;
    margin: 25px auto 0
}

.gallery.ipad .interaction {
    left: 5.2%;
    top: 9.1%;
    width: 89.6%;
    height: 73.6%
}

.gallery.ipad .contents {
    position: absolute;
    left: 5.2%;
    top: 9.1%;
    width: 89.6%;
    height: 73.6%
}

.gallery.ipad .caption {
    display: none
}

.gallery .interaction {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 300;
    width: 100%;
    height: 100%
}

.gallery .interaction.next {
    cursor: url(/resources/img/ui/gallery-arrow-next.png) 15 9, e-resize
}

.gallery .interaction.prev {
    cursor: url(/resources/img/ui/gallery-arrow-previous.png) 0 9, w-resize
}

.gallery .skin {
    position: relative;
    top: 0;
    left: 0;
    z-index: 200
}

.gallery .skin img {
    max-width: 100%
}

.gallery .contents {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background: #000;
    z-index: 100
}

.gallery .contents img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 100%;
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
}

.gallery .contents video {
    position: absolute;
    width: 100%;
    height: 100%
}

.gallery .contents .spacer {
    position: static;
    width: 100%
}

.gallery .contents .prev {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition: -webkit-transform 0;
    -moz-transition: -moz-transform 0;
    -o-transition: -o-transform 0;
    transition: transform 0
}

.gallery .contents .next {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0;
    -moz-transition: -moz-transform 0;
    -o-transition: -o-transform 0;
    transition: transform 0
}

.gallery .contents .super {
    z-index: 2
}

.gallery .contents .active {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: -moz-transform .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: -o-transform .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform .5s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.gallery .caption {
    position: relative;
    padding: 2.0%;
    z-index: 400
}

.gallery .caption .text {
    display: inline-block;
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    font-size: 14px;
    color: #d9d9d9;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    max-width: 78%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.gallery .caption .text.hide {
    opacity: 0
}

.gallery .caption .text strong {
    font-weight: 700
}

.gallery .caption .count {
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    font-size: 14px;
    color: #999;
    margin-right: 10px;
    float: left;
    line-height: 18px
}

.gallery .caption .fullscreen {
    float: right;
    color: #fff;
    opacity: .2;
    cursor: pointer;
    margin-top: -1px;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s
}

.gallery .caption .fullscreen:hover {
    opacity: .9
}

#gallery-fullscreen {
    opacity: 0;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #212121;
    overflow: hidden;
    -webkit-transition: opacity .6s, top 0 .6s;
    -moz-transition: opacity .6s, top 0 .6s;
    -o-transition: opacity .6s, top 0 .6s;
    transition: opacity .6s, top 0 .6s
}

#gallery-fullscreen .center {
    display: table;
    width: 100%;
    height: 100%
}

#gallery-fullscreen .contents {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s
}

#gallery-fullscreen .contents img {
    display: none;
    max-width: 100%
}

#gallery-fullscreen .contents .active {
    display: inline
}

#gallery-fullscreen .caption {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8)
}

#gallery-fullscreen .caption .text {
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 60px 12px;
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-align: left;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s
}

#gallery-fullscreen .caption .count {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 20px;
    font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
    font-size: 14px;
    color: #888;
    margin-right: 15px
}

#gallery-fullscreen .caption .fullscreen {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    cursor: pointer
}

#gallery-fullscreen.animating .contents, #gallery-fullscreen.animating .text {
    opacity: 0
}

.fullscreen-gallery {
    overflow: hidden
}

.fullscreen-gallery #gallery-fullscreen {
    opacity: 1;
    top: 0;
    overflow-y: scroll;
    -webkit-transition: opacity .6s, top 0 0;
    -moz-transition: opacity .6s, top 0 0;
    -o-transition: opacity .6s, top 0 0;
    transition: opacity .6s, top 0 0
}

.fullscreen-gallery #gallery-fullscreen.next {
    cursor: url(/resources/img/ui/gallery-arrow-next.png) 15 9, e-resize
}

.fullscreen-gallery #gallery-fullscreen.prev {
    cursor: url(/resources/img/ui/gallery-arrow-previous.png) 0 9, w-resize
}

@media all and (max-width:1000px) and (min-width:500px) {
    .gallery .caption .text {
        max-width: 85%
    }

    .gallery.ipad {
        margin: 10px auto 0
    }

    .fullscreen-gallery #gallery-fullscreen {
        position: fixed;
        top: 0 !important;
        -webkit-overflow-scrolling: touch
    }

    .fullscreen-gallery #gallery-fullscreen .icon {
        font-size: 19px;
        top: 17px
    }
}

@media all and (max-width:500px) and (min-width:0) {
    .gallery {
        font-size: 12px;
        margin: 40px 0 75px
    }

    .gallery .caption .text {
        font-size: 12px;
        max-width: 75%
    }

    .gallery .caption .count {
        font-size: 12px;
        margin-right: 4px
    }

    .gallery .caption .fullscreen {
        font-size: 19px;
        margin-top: -2px
    }

    .gallery.ipad {
        margin: 5px auto 40px
    }

    .fullscreen-gallery #gallery-fullscreen {
        position: fixed;
        top: 0 !important;
        -webkit-overflow-scrolling: touch
    }

    .fullscreen-gallery #gallery-fullscreen .icon {
        font-size: 19px;
        top: 18px
    }
}


