@charset "utf-8";
/* CSS Document */

html {
	border-top:solid 8px #333;
}

body {
	background-color: #f0f0f0;
}

.border_top {
	border-top:solid 1px #eee;
	border-bottom:solid 1px #eee;
	padding:80px 0 0 0;
}

h1 {
	font-size: 70px;
	font-family: "Ostrich Sans Black";
	text-decoration: none;
	text-align: center;
	color: #333;
}

h2 {
	font-size: 40px;
	font-family: "Ostrich Sans Black";
	text-decoration: none;
	text-align: center;
	color: #333;
}

h3 {
	width: 90%;
	font-size: 90px;
	font-family: "Ostrich Sans Black";
	text-decoration: none;
	text-align: left;
	margin-left: 10%;
	color: #333;
	border-bottom: 1px solid #333;
}

#landing a {
	font-size: 50px;
	font-family: "Ostrich Sans Bold";
	text-decoration:none;
}

a:hover {
	font-family: "Ostrich Sans Black";
	text-decoration:none;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
}

#credit a {
	width: 100%;
	height: auto;
	position: absolute;
    top: 1;
	left: 0;
	right: 0;
	bottom: 0;
    margin-bottom: 1.5%;
	text-align: center;
	font-size: 16px;
	font-family: "Brandon REG";
	text-decoration:none;
	color: #333;
}

#credit a:hover {
	text-decoration: underline;
	color: #F30;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
}

#red {
	color: #F30;
}

#blue {
	color: #0CF;
}

#orange {
	color: #F90;
}

#green {
	color: #0C0;
}

#landing {
	height: 100%;
	width: 100%;
	display: block;
}

#circle {
    max-width: 65%;
    max-height: 65%;
    position: absolute;
    top: 0; left: 1; right: 0; bottom: 0;
    margin-top: auto;
	margin-bottom: auto;
	margin-right: 15%;
}

#landing a {
	font-size: 50px;
	font-family: "Ostrich Sans Bold";
	text-decoration:none;
}

#landing a:hover {
	font-family: "Ostrich Sans Black";
	text-decoration:none;
}

#quote {
	width: 335px;
	height: auto;
	font-size: 20px;
	font-weight: 300;
	font-family: "Merriweather";
	margin-left: 10%;
}

#about {
	width: auto;
	height: auto;
	font-size: 18px;
	font-weight: 300;
	font-family: "Merriweather";
	padding-left: 70px;
}

#passion {
	font-size: 20px;
	font-weight: 700;
	font-family: "Merriweather";
}

#abouttable {
	width: 80%;
	height: auto;
	margin-top: -5%;
	margin-left: auto;
	margin-right: auto;
}

#back {
	width: 60px;
	height: 130px;
	position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    margin-top: auto;
	margin-bottom: auto;
}

#mainlink {
	width: 35%;
	height: 0px;
	position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    margin-top: auto;
	margin-bottom: auto;
	margin-left: 10%;	
}

#showcase {
	width: 75%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#photo-card {
	text-decoration: none;
	width: auto;
	height: auto;
}

#card {
	text-decoration: none;
	width: auto;
	height: auto;
	line-height: 425px;
	vertical-align: middle;
	font-size: 28px;
	color: #333;
	font-family: "Ostrich Sans"
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
}

#card:hover {
	opacity: .7;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
}

#screenshot-card, #screenshot-card a:hover, #screenshot-card a {
	text-decoration: none;
	width: auto;
	height: auto;
	line-height: 140px;
	vertical-align: middle;
	font-size: 28px;
	color: #333;
	font-family: "Ostrich Sans"
}

.flip-container, .flip-container-long {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container-long:hover .flipper, .flip-container-long.hover .flipper {
    -webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 320px;
  height: 425px;
  }

.flip-container-long, .front-long, .back-long {
  width: 820px;
  height: 140px;
}

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back, .front-long, .back-long {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: visible;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front, .front-long {
  z-index: 2;
}

/* back, initially hidden pane */
.back, .back-long {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
