
@font-face {
    font-family: 'Brandon REG';
    src: url('../type/brandon_re-webfont.eot');
    src: url('../type/brandon_re-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/brandon_re-webfont.woff') format('woff'),
         url('../type/brandon_re-webfont.ttf') format('truetype'),
         url('../type/brandon_re-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ostrich Sans Black';
    src: url('../type/ostrich_black-webfont.eot');
    src: url('../type/ostrich_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/ostrich_black-webfont.woff') format('woff'),
         url('../type/ostrich_black-webfont.ttf') format('truetype'),
         url('../type/ostrich_black-webfont.svg#ostrich_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ostrich Sans Bold';
    src: url('../type/ostrich_bold-webfont.eot');
    src: url('../type/ostrich_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/ostrich_bold-webfont.woff') format('woff'),
         url('../type/ostrich_bold-webfont.ttf') format('truetype'),
         url('../type/ostrich_bold-webfont.svg#ostrich_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ostrich Sans Dashed';
    src: url('../type/ostrich_dashed-webfont.eot');
    src: url('../type/ostrich_dashed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/ostrich_dashed-webfont.woff') format('woff'),
         url('../type/ostrich_dashed-webfont.ttf') format('truetype'),
         url('../type/ostrich_dashed-webfont.svg#ostrich_sans_dashedmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ostrich Sans Light';
    src: url('../type/ostrich_light-webfont.eot');
    src: url('../type/ostrich_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/ostrich_light-webfont.woff') format('woff'),
         url('../type/ostrich_light-webfont.ttf') format('truetype'),
         url('../type/ostrich_light-webfont.svg#ostrich_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ostrich Sans';
    src: url('../type/ostrich_regular-webfont.eot');
    src: url('../type/ostrich_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/ostrich_regular-webfont.woff') format('woff'),
         url('../type/ostrich_regular-webfont.ttf') format('truetype'),
         url('../type/ostrich_regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ostrich Sans Rounded';
    src: url('../type/ostrich_rounded-webfont.eot');
    src: url('../type/ostrich_rounded-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/ostrich_rounded-webfont.woff') format('woff'),
         url('../type/ostrich_rounded-webfont.ttf') format('truetype'),
         url('../type/ostrich_rounded-webfont.svg#ostrich_sans_roundedmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}